html {
    background-color: #fcfcfc;
}
body {
    padding: 0;
    margin: 0;
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(231, 231, 231);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 35px;
    padding-right: 20px;
}
.navigation a {
    font-size: 15px;
    color: black;
} 