html {
    background-color: #fcfcfc;
}
body {
    padding: 0;
    margin: 0;
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.page-section {
    display: none;
}